.Maze {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  justify-content: center;
  background-position: center center;
  background-repeat: no-repeat;
  position: relative;
  z-index: 120;
  background-size: 100% 100%;

  .row {
    display: flex;
    justify-content: center;
  }
}
.retro .Maze {
  background-color: #ce9e00;
  padding: 2%;
}
.retro .Maze.BgImg {
  background-color: transparent;
}
.fail .Maze *,
.fail .Maze {
  border: 0;
  outline: 0;
  box-shadow: none !important;
}
.fail .retro .Maze *,
.fail .retro .Maze {
  background-color: #3b220a27 !important;
  border: 0;
  outline: 0;
  box-shadow: none !important;
}
.victory {
  opacity: 0;
  visibility: hidden;
  transform: scale(0.9);
  transition: opacity 0.4s ease, transform 0.4s ease;
  position: absolute;
  width: 75%;
  height: 55%;
  background-color: #4560ee;
  display: flex;
  align-items: center;
  justify-content: center;
  border: #1f315e 10px solid;
  border-radius: 10px;
  z-index: -1;
  font-size: clamp(2px, 2vw, 32px);
  button {
    background-color: #1f315e;
  }
}

.standard .victory, .tablet .victory {
  button {
    color: #aaa;
  }
  button:hover {
    border-color: #aaa;
  }
  div.MessageScreen {
    color: #222;
  }
}

.retro .victory {
  background-color: #865d35ee;
  border: #5a3e24aa 10px solid;
  button {
    color: #111;
    background-color: #5a3e24aa;
  }
  button:hover {
    border-color: #111;
  }
  div.MessageScreen {
    color: #000;
  }
}

.futuristic .victory {
  background-color: #006518ee;
  border: #001c00aa 10px solid;
  button {
    background-color: #001c00aa;
    color: #ccc;
  }
  button:hover {
    border-color: #ccc;
  }
  div.MessageScreen {
    color: black;
  }
}

.correct {
  .Maze {
    display: none;
  }
  .button-reset {
    display: none;
  }
  .victory {
    opacity: 1;
    visibility: visible;
    transform: scale(1);
    z-index: 150;
    div {
      text-align: center;
    }
  }
}

.text-end {
  display: flex;
  align-items: end;
  justify-content: end;
  margin: 0 0 0.5rem 0;
}